.tagBtn{
    border: none;
    border-radius: 3px;
    background-color: lightgray;
    color: white;
}

.tagBtnActive {
    border: none;
    border-radius: 3px;
    background-color: darkgrey;
    color: white;
}