main{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
}

article, ol{
    text-align: justify;
}
.schedule{
    margin: 5px;
    width: 80%;
    /* height: 300px; */
    border-radius: 5px;
}
.malin{
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;

}
.content{
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width:90% ;
    text-align: center;
}

.title{
    margin: 10px;
}

.blogBtn{
    width: 100px;
    height: 30px;
    
}
.blogImg{
    max-width: 95%;
    max-height: 70%;
}
.contentContainer{
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 100%;
}
@media screen and (width <= 414px) {
    /* .schedule{
        margin: 5px;
        width: 350px;
        height: 200px;
        border-radius: 5px;
    } */
    /* .malin{
        border-radius: 5px;
        width: 350px;
        height: 250px;
    } */
  }

  @media screen and (900px > width > 414px) {
    .schedule{
        margin: 5px;
        width: 500px;
        height: 300px;
        border-radius: 5px;
    }
    .malin{
        border-radius: 5px;
        width: 550px;
        height: 350px;
    }
  }

  .list-group{
    width: 70vw;
  }