.schedule{
    width: 700px;
    height: 300px;
}


@media screen and (width <= 400px) {
    .schedule{
        width: 350px;
        height: 200px;
    }
  }

  @media screen and (900px > width > 400px) {
    .schedule{
        width: 500px;
        height: 300px;
    }
  }

  .list-group{
    width: 70vw;
  }