.navbar-wrapper{
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

/* .imgIsolater{
    background: url('./image0.jpeg');
    background-size: cover;
    height: 45vh;
} */
.navbar-brand{
    font-size:2rem ;
    font-family: 'Lobster', cursive;
    
}

.nav-link:hover {
    color: black;
}
.nav-link{
    margin-right: 2vw;
    margin-left: 2vw;
    font-family: 'Rubik', sans-serif;

}

.navbar-nav{
    display: flex;
    align-items: center;
}

.list-container{
    display: flex;
    flex-direction: row;
}

.btnContainer{
    display: flex;
    flex-direction: row;
}

.btn{
    margin: 5px;
   
}

.insideBtn{
    color:white
}
.imgIsolater{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
}