.blogContainer{
    border-radius: 10px;
    border: 3px solid lightgray;
    margin: 10px;
    width: 95%;
    overflow-x: auto;
    text-align: justify;
    padding: 15px;
}

.blogIframe{
    border-radius: 5px;
    width: 560px;
    height: 315px;
}
@media screen and (width <= 415px) {
  .blogImg{
        width:90vw;
        height: 45vh;
        border-radius: 5px;
    }
    
    .blogIframe{
        border-radius: 5px;
        margin-left: 1px;
        margin-right: 1px;
        width: 280px;
        height: 216px;
    } 
  }